.about__wrapper{
    display:flex;
    background-image: url('../../../public/gfx/images/it-background.png');
    background-size: cover;

    .about__collumn{
        width:50%;
    }

    .about__text{
        position: relative;
        padding:30px 90px 50px 90px;
        top:-44px;
        background-color:@white;
        z-index:9;
        background:
		linear-gradient(135deg, transparent 0px, #fff 0) top left,
		linear-gradient(225deg, transparent 35px, #fff 0) top right,
		linear-gradient(315deg, transparent 0px, #fff 0) bottom right,
		linear-gradient(45deg,  transparent 0px, #fff 0) bottom left;
	    background-size: 50% 50%;
	    background-repeat: no-repeat;

        &--title{
            font-size:36px;
            font-weight: 700;
            line-height: 42px;
            padding-bottom:30px;
        }

        &--paragraphs{
            font-size:24px;
            font-weight: 400;
            line-height: 30px;
            opacity:0.6;
        }
    }
}